<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.comp4342.bookshoppj">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bookrc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bookrc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventContext"></activity>
        <activity android:name=".SettingPage" />
        <activity android:name=".RegiserPage" />
        <activity android:name=".SearchPage" />
        <activity android:name=".SearchAllPage" />

        <!--<provider android:namSearchSuggestiontion"-->
        <!--android:authorities="com.example.MySuggestionProvider" />-->
    </application>

</manifest>